---
layout: default
title: Articles
permalink: /articles
---
{% assign title = site.canvas.articles %}
{% assign tag = 'articles' %}
{% assign id = 7 %}
{% include canvas.html %}
<div class="articles container add-padding-top-normal">
    <h1 class="add-padding-normal">Articles</h1>
    <hr>
    <div class="row m-auto">
        <div class="container add-margin-top-normal add-margin-bottom-large">
            <div class="list-group">
                {% for post in site.posts %}
                <a href="{{ post.url }}" class="row article-item list-group-item list-group-item-action">
                    <span class="article-date col-2">
                        {{ post.date | date: "%b %d" }}
                    </span>
                    <span class="article-title col-8">{{ post.title }}</span>
                    <span class="article-label {{ post.label }} col-1">{{ post.label | capitalize }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>