---
layout: default
title: Resume
permalink: /resume
---
{% assign title = site.canvas.resume %}
{% assign tag = 'resume' %}
{% assign id = 2 %}
{% include canvas.html %}
<div id="resume" class="container-fluid add-margin-top-huge">
    <div class="row justify-content-start">
        <div class="col-md-4">
            <h1 class="title" id="technologies">Technologies</h1>
        </div>
        {% for item in site.data.technologies %}
        <div class="col-md-4 add-padding-left-normal">
            <h2 class="subtitle">{{ item.name }}</h2>
            <ul>
                {% for subItem in item.list %}
                <li>
                    {{ subItem }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>

    <div class="row justify-content-start add-margin-top-huge">
        <div class="col-md-4">
            <h1 class="title" id="work">Work Experiences</h1>
        </div>
        <div class="col-md-7 add-margin-left-small">
            {% for item in site.data.work_experiences %}
            <div class="{% if forloop.last %}{% else %} add-margin-bottom-large {% endif %}">
                <h2 class="subtitle">{{ item.title }}</h2>
                <span class="company">
                    <a href="{{ item.url }}" target="_blank">
                        {{ item.company }}
                    </a>
                    , {{ item.location }}, {{ item.period }}
                </span>
                <p class="description text-left">
                    {{ item.description }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row justify-content-start add-margin-top-huge">
        <div class="col-md-4">
            <h1 class="title" id="projects">Personal Projects</h1>
        </div>
        <div class="col-md-7 add-margin-left-small">
            {% for item in site.data.personal_projects %}
            <div class="{% if forloop.last %}{% else %} add-margin-bottom-large {% endif %}">
                <h2 class="subtitle">{{ item.name }}</h2>
                <p class="description text-left">
                    {{ item.description }}
                </p>
                <div class="d-flex flex-wrap flex-row">
                    {% for image in item.images %}
                    {% assign width = 1.0 | divided_by: forloop.length | times: 100 | round %}
                    <img src="{{ image.path }}" alt="{{ image.alt }}" class="p-1 w-{{ width }}">
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row justify-content-start add-margin-top-huge">
        <div class="col-md-4">
            <h1 class="title" id="education">Education</h1>
        </div>
        <div class="col-md-7 add-margin-left-small">
            {% for item in site.data.education %}
            <div class="{% if forloop.last %}{% else %} add-margin-bottom-large {% endif %}">
                <h2 class="subtitle">{{ item.title }}</h2>
                <span>{{ item.school }}, {{ item.location }}, {{ item.period }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="shade d-flex flex-column add-margin-top-huge add-padding-bottom-large">
    <span class="p-2 text-center add-margin-top-normal add-margin-bottom-normal">Feel free to reach out and start a
        conversation!</span>
    <div class="p-2 text-center">
        <a href="/about#me"
            class="button-styled-transparent styled-title add-margin-top-normal add-margin-bottom-normal">
            <i class="fa fa-address-book" aria-hidden="true"></i>
            Contact Me
        </a>
    </div>
</div>