.post-container {
  font-family: $post-font-family;
  font: $post-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: $navbar-expanded-height 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  .post-header {
    @include relative-font-size(0.8);
    margin-bottom: 3rem;

    .post-meta {
      color: var(--main-text-light-color);
    }
  }

  .icon-avatar {
    background-color: transparent;
    border: none;
    border-radius: 50%;
  }

  .post-datetime {
    padding-left: 4px;
  }

  .tag {
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.3rem 0.7rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 5px;
    color: var(--main-text-light-color);
    background-color: var(--tag-background-color);

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: var(--main-text-color);
      background-color: var(--tag-background-hover-color);
    }
  }

  h2 {
    margin: 4.5rem 0 2rem;
  }

  h3,
  h4,
  .post-title {
    font-weight: 700;
    margin: 3.5rem 0 1.5rem;
  }

  h2 {
    border-bottom: 1px solid var(--invert-text-color);
  }

  h3,
  h4 {
    color: var(--main-text-light-color);
  }

  .post-body {
    @include relative-font-size(1.2);
  }
}
