---
layout: default
title: Articles
permalink: /articles
---
{% assign title = site.canvas.articles %}
{% assign tag = 'articles' %}
{% assign id = 7 %}
{% include canvas.html %}
<div class="container add-margin-top-large add-margin-bottom-large">
    <div class="d-flex flex-wrap row">
        {% for post in site.posts %}
        <div class="col-md-4 py-3 d-flex align-items-stretch">
            {% include card.html post=post %}
        </div>
        {% endfor %}
    </div>
    <h1 class="under_construction text-center">Under Construction...</h1>
</div>