---
layout: page
title: Articles
permalink: /articles/
---

<div class="blog" id="blog">
    {%- if page.title -%}
    <h1 class="page-heading wrapper add-padding-bottom">{{ page.title }}</h1>
    {%- endif -%}
    <div id="toggle-grid-list" class="toggle-grid-list">
        <button id="list-button" class="button-normal no-border" onclick="toggleView('list')"><i class="fa fa-bars"></i>
            List</button>
        <button id="grid-button" class="button-normal no-border" onclick="toggleView('grid')"><i class="fa fa-th-large"></i>
            Grid</button>
    </div>
    {%- if site.posts.size > 0 -%}
    <ul id="post-list" class="grid cboth">
        {%- for post in site.posts -%}
        <li class="article" onclick="redirect('{{ post.url | relative_url }}')">
            {% if post.image %}
            {% include article-image.html image=post.image alt=post.image-alt %}
            {% endif %}
            <h3 class="article-title" title="{{ post.title | escape }}">
                {{ post.title | escape }}
            </h3>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="article-date">{{ post.date | date: date_format }}</span>
            <span class="article-tag {{post.tag}}">{{post.tag-content}}</span>
        </li>
        {%- endfor -%}
    </ul>

    <p class="feed-subscribe">
        <!-- <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
                <use xlink:href="{{ 'assets/social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
        </a> -->
    </p>
    {%- endif -%}

</div>
<script src="{{ base.url | prepend: site.url }}/assets/js/articles.js" tag="{{tag}}"></script>