---
layout: default
title: Home
---
{% assign title = site.canvas.home %}
{% assign tag = 'home' %}
{% assign id = 1 %}
{% include canvas.html %}
<div class="home">
    <div class="row mx-auto add-padding-top-large add-padding-bottom-large">
        <div class="col-md-4 offset-md-3 align-self-center intro-text text_right">
            <h1 class="add-padding-small">Hi, I'm Yueh 🐢</h1>
            <p>
                I'm a Full Stack and DevOps developer and this website was my Summer project 2020. I started writing
                articles as a way to keep track of new things that I learn.
            </p>
        </div>
        <div class="col-md-3 align-self-center">
            {% image yueh.png alt="Me" class="avatar img-fluid img-thumbnail" %}
        </div>
    </div>
    <div class="container add-padding-top-large add-padding-bottom-large">
        <div class="home-section">
            <h1 class="add-padding-small">Recent Activities</h1>
            <hr>
            <p>
                At work, I have mainly been working on NodeJS backend microservices with TypeScript and
                managing Kubernetes clusters deployed with Openstack Magnum. For my personal projects, I just started
                working on a small project to recreate the when2meet app using ReactJS with TypeScript.
            </p>
        </div>
        <div class="home-section">
            <h1 class="add-padding-small">Recent Articles</h1>
            <hr>
            <div class="row m-auto">
                <div class="container add-margin-top-normal add-margin-bottom-large">
                    <div class="list-group">
                        {% for post in site.posts limit: 2 %}
                        <a href="{{ post.url }}" class="row article-item list-group-item list-group-item-action">
                            <span class="article-date col-2">
                                {{ post.date | date: "%b %d" }}
                            </span>
                            <span class="article-title col-8">{{ post.title }}</span>
                            <span class="article-label {{ post.label }} col-1">{{ post.label | capitalize }}</span>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>