html,
body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: unset; // Is this necessary?
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
}

h1,
h2,
h3,
h4 {
  color: var(--main-text-color);
}

a {
  color: #09bddd;
  &:active,
  &:focus {
    outline: none;
  }
  &:hover {
    color: #0aa3be;
    text-decoration: none;
  }
}

.main-body {
  margin-top: $navbar-expanded-height;
}

/*
 * Buttons
 */
button {
  outline: none !important;
  color: var(--main-text-color);
  font-family: sans-serif;
  font-weight: 400;

  &:focus {
    outline: none;
  }
}
a.chrome-ext-btn {
  background-color: #1a73e8;
  padding: 0.7rem 1.3rem;
  margin: 4px;
  border-radius: 5px;
  border: none;
  outline: none;

  &:hover {
    background-color: #4692f7;
    cursor: pointer;
  }

  text-decoration: none;
  color: #fff;
  font: 500 14px "Google Sans", Arial, sans-serif;
  height: 36px;
  letter-spacing: 0.25px;
  text-shadow: none;
  text-transform: none;
}

.button-styled-transparent {
  transition: border 0.3s ease, background-color 0.3s ease, background-size 0.2s ease;
  border: 1px solid var(--highlight-hover-color); //
  border-radius: 4px;
  padding: 1.25rem;
  background-color: var(--highlight-transparent-color);
  color: var(--main-text-color);
  background-image: linear-gradient(var(--highlight-hover-transparent-color), var(--highlight-hover-transparent-color));
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0% 100%;

  &:hover {
    text-decoration: none;
    background-size: 100% 100%;
    color: var(--main-text-color);
    border: 1px solid var(--highlight-color);
    cursor: pointer;
  }

  a {
    text-decoration: none !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}

#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--navbar-background-hover-color);
  color: var(--main-text-color);
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 15px;
  -webkit-animation: pulse 1.3s infinite;
  animation: pulse 1.3s infinite;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);

  &:hover {
    -webkit-animation: none;
    animation: none;
    opacity: 1;
    color: var(--highlight-color);
  }
}

/*
 * Paddings, margins
 */
$directions: ("top", "bottom", "left", "right");
$rem-size: ("small", 0.5), ("normal", 1), ("medium", 1.5), ("large", 2.5), ("huge", 4);
@each $size, $value in $rem-size {
  .add-padding-#{$size} {
    padding: #{$value}rem;
  }
  @each $direction in $directions {
    .add-padding-#{$direction}-#{$size} {
      padding-#{$direction}: #{$value}rem;
    }
  }
}
@each $size, $value in $rem-size {
  .add-margin-#{$size} {
    margin: #{$value}rem;
  }
  @each $direction in $directions {
    .add-margin-#{$direction}-#{$size} {
      margin-#{$direction}: #{$value}rem;
    }
  }
}

$padder-size: ("tiny", 15), ("normal", 40), ("large", 70);
@each $size, $value in $padder-size {
  .padder-#{$size} {
    height: #{$value}px;
  }
}

.padder {
  height: $navbar-expanded-height;
}

.padder-small {
  height: $navbar-shrunk-height;
}

$hidden-direction: ("left", 30), ("right", -30);
@each $direction, $x in $hidden-direction {
  .hidden-#{$direction} {
    transform: translateX(#{$x}px) !important;
    opacity: 0;
  }
}

$hidden-direction: ("down", -30), ("up", 30);
@each $direction, $y in $hidden-direction {
  .hidden-#{$direction} {
    transform: translateY(#{$y}px) !important;
    opacity: 0;
  }
}

/*
 * Text modifiers
*/
.text {
  color: var(--main-text-color);
}

.error {
  color: red;
}

.warning {
  color: rgb(255, 217, 0);
}

.success {
  color: rgb(12, 211, 38);
}

.capitalize {
  text-transform: capitalize;
}

.styled-title {
  @include relative-font-size(0.75);
  letter-spacing: 0.1em;
  line-height: 1.6em;
  font-weight: 550;
  text-transform: uppercase;
}

blockquote {
  border-left: 0.35em solid var(--blockquotes-border-color);
  color: var(--blockquotes-text-color);
  padding: 0 1em;
  background-color: var(--blockquotes-background-color);
  margin-left: 0.5em;
}

.quote {
  border: none;
  margin: 0 auto;
  transition: transform 1.3s ease;
  background-color: var(--shade-background-color);
  // font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: italic;
  transform: translate(0, 0);
}

.shade {
  background-color: var(--shade-background-color);
}

.inline-code,
code {
  border-radius: 5px;
  padding: 3px 5px;
  background-color: var(--highlight-background-color);
}

pre code {
  @include relative-font-size(0.9);
  display: block;
  padding: 1.5rem;
  overflow: auto;
  border: 0;
}

pre {
  border-radius: 5px;
  box-shadow: 2px 4px 15px var(--box-shadow-color);
}

.section-title {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--invert-text-color);
}

.accent {
  color: var(--highlight-color);
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

/*
 * Transitions
 */
$fadeIn-direction: ("Down", "Up", "Left", "Right");
@each $direction in $fadeIn-direction {
  .fadeIn#{$direction} {
    animation: fadeIn#{$direction} 1.3s;
    animation-iteration-count: 1;
  }
}
// .fadeInDown {
//   animation: fadeInDown 1.3s;
//   animation-iteration-count: 1;
// }

.fadeIn {
  animation: fadeIn 1.3s;
  animation-iteration-count: 1;
}

.transition {
  transition: opacity 1s ease, transform 1s ease;
}

/*
 * Other
 */
.under_construction {
  color: red;
  text-transform: uppercase;
  height: 20vh;
  margin-top: 4rem;
}

.bullet-before {
  &::before {
    padding: 0 2px;
    content: "\2022";
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid var(--horizontal-line-color);
}

.no-bg {
  background: transparent;
}

.no-border {
  border: none;
}

.round {
  border-radius: 12px;
}