html,
html[data-theme="light"] {
  // main text
  --main-text-color: hsl(0, 0%, 0%);
  --main-text-light-color: hsl(0, 3%, 35%);
  --invert-text-color: hsl(0, 9%, 86%);

  // highlight
  --highlight-color: #e83e8c; //#db486dd7
  --highlight-hover-color: #f59bb1;
  --highlight-transparent-color: #db486d1f; //#4888db;
  --highlight-hover-transparent-color: #db486d31; //#4888db;
  --highlight-background-color: #f9f2f4;

  // background
  --main-background-color: #ffffff;
  --main-background-hover-color: darken(#ffffff);

  // navbar
  --navbar-background-color: hsl(0, 5%, 100%);
  --navbar-background-hover-color: hsl(0, 0%, 92%);

  // tag
  --tag-background-color: #d8e8f5;
  --tag-background-hover-color: #b8daf5;
  --tag-latest-background-color: #fe820b;
  --tag-new-background-color: #08b6f0;

  // blockquotes
  --blockquotes-background-color: #f9f9f9;
  --blockquotes-border-color: #bfc4c9;
  --blockquotes-text-color: #8e9194;

  // card
  --card-background-color: hsl(0, 0%, 98%);

  // horizontal line
  --horizontal-line-color: rgba(0, 0, 0, 0.1);

  background-color: var(--main-background-color);

  // Shade
  --shade-background-color: #fafafa;
}

html[data-theme="dark"] {
  // main text
  --main-text-color: hsl(47, 15%, 88%);
  --main-text-light-color: hsl(53, 5%, 68%);
  --invert-text-color: hsl(0, 2%, 20%);

  // highlight
  --highlight-color: #ffae00d7; //#4888db;
  --highlight-hover-color: #fada96e3; //#4888db;
  --highlight-transparent-color: #ffae0015; //#4888db;
  --highlight-hover-transparent-color: #ffae003a; //#4888db;
  --highlight-background-color: #0a121b;

  // background
  --main-background-color: hsl(0, 0%, 13%);
  --main-background-hover-color: lighten(hsl(0, 0%, 13%), 2%);

  // navbar
  --navbar-background-color: hsl(0, 0%, 6%);
  --navbar-background-hover-color: hsl(0, 0%, 3%);

  // tag
  --tag-background-color: #004478;
  --tag-background-hover-color: #004e8a;
  --tag-latest-background-color: #ef7a44;
  --tag-new-background-color: #00a6df;

  // blockquotes
  --blockquotes-background-color: #2c2b2b;
  --blockquotes-border-color: #76787a;
  --blockquotes-text-color: #8e9194;

  // card
  --card-background-color: hsl(0, 0%, 22.7%);

  // horizontal line
  --horizontal-line-color: rgba(255, 255, 255, 0.1);

  background-color: var(--main-background-color);

  // Shade
  --shade-background-color: #292929;
}

@media (prefers-color-scheme: dark) {
  html {
    content: "dark";
  }
}
