<div id="particles-js" class="container-fluid">
    <div class="header d-flex flex-column align-items-center">
        <h1 class="site-title fadeInDown">{{ title }}</h1>
        {% if tag == 'resume' %}
        <a href="{{ "/assets/pdf/Yueh_Liu_Resume.pdf" | relative_url }}" class="button-styled-transparent styled-title"
            download>
            <i class="fas fa-download"></i>
            Download Resume</a>
        {%- endif -%}
    </div>
    <a class="down" href="#{{tag}}" data-scroll><i id="chevron" class="icon fa fa-chevron-down"
            aria-hidden="true"></i></a>
</div>
<script src="{{ "/assets/js/app.js" | relative_url }}" tag="{{tag}}"></script>
<div class="padder-small shade" id="{{tag}}"></div>