<footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        integrity="sha384-ujbKXb9V3HdK7jcWL6kHL1c+2Lj4MR4Gkjl7UtwpSHg/ClpViddK9TI7yU53frPN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{{ "/assets/js/theme-switcher.js" | relative_url }}"></script>
    <div class="row align-items-center">
        <span class="col-md-12 text-center">
            {% for item in site.data.footer %}
            {{ item }} {% if forloop.last %}{% else %} ｜ {% endif %}
            {% endfor %}
        </span>
    </div>
</footer>