{%- assign social = site.social_links -%}

<ul class="social-media-list">
    {%- if social.facebook -%}<li><a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/YuYuehLiu"><i
                class="svg-icon icon fa fa-facebook" aria-hidden="true"></i></a></li>{%- endif -%}
    {%- if social.instagram -%}<li><a href="https://www.instagram.com/{{ social.instagram | cgi_escape | escape }}"
            title="{{ social.instagram | escape }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/social-icons.svg#instagram' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.linkedin -%}<li><a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/yu-yueh-liu-667696121/"><i
                class="svg-icon icon fa fa-linkedin" aria-hidden="true"></i></a></li>{%- endif -%}
    {%- if social.twitter -%}<li><a href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" title="{{ social.twitter | escape }}"><svg
                class="svg-icon grey">
                <use xlink:href="{{ '/assets/social-icons.svg#twitter' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.youtube -%}<li><a href="https://www.youtube.com/{{ social.youtube | cgi_escape | escape }}" title="{{ social.youtube | escape }}"><svg
                class="svg-icon grey">
                <use xlink:href="{{ '/assets/social-icons.svg#youtube' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.youtube_channel -%}<li><a href="https://www.youtube.com/channel/{{ social.youtube_channel | cgi_escape | escape }}"
            title="{{ social.youtube_channel_name | escape | default: 'YouTube' }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/social-icons.svg#youtube' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.rss -%}<li><a href="{{ 'feed.xml' | relative_url }}" title="{{ social.rss | escape }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/social-icons.svg#rss' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.github -%}<li><a aria-label="My Github" target="_blank" href="https://github.com/UAce"><i class="svg-icon icon fa fa-github-alt"
                aria-hidden="true"></i></a></li>{%- endif -%}
    {%- if social.email -%}<li><a aria-label="Send email" href="mailto:yu-yueh@hotmail.com"><i class="svg-icon svg-icon icon fa fa-envelope"></i></a></li>{%-
    endif -%}
</ul>