<div class="social-links">
    <a aria-label="My Facebook" href="https://www.facebook.com/YuYuehLiu" target="_blank">
        <i aria-hidden="true" class="fab fa-lg fa-facebook-square"></i>
    </a>
    <a aria-label="My Instagram" href="https://www.instagram.com/youwayy/" target="_blank">
        <i aria-hidden="true" class="fab fa-lg fa-instagram"></i>
    </a>
    <a aria-label="My LinkedIn" href="https://www.linkedin.com/in/yu-yueh-liu-667696121/" target="_blank">
        <i aria-hidden="true" class="icon fab fa-lg fa-linkedin"></i>
    </a>
    <a aria-label="My Github" href="https://github.com/UAce" target="_blank">
        <i aria-hidden="true" class="icon fab fa-lg fa-github"></i>
    </a>
    <a aria-label="Send email" href="mailto:yu-yueh@hotmail.com">
        <i class="icon fas fa-lg fa-envelope"></i>
    </a>
</div>