.about {
  @include relative-font-size(1.1);
  transition: opacity 0.4s ease;

  .intro {
    transition: all 1.3s ease;
    border: 1px solid var(--main-text-color);
    border-radius: 5px;
    transform: translate(0, 0);

    .intro-text {
      padding: 0 2rem;
    }
  }

  .avatar {
    margin: 2rem 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
  }

  .social-links {
    display: block;
    margin-bottom: 3rem;
    margin-top: 1rem;

    i {
      font-size: 20px;
      height: 20px;
      width: 0.8 * 20px;
    }

    a {
      padding: 0 1rem;
      color: var(--main-text-color);

      &:before {
        font-size: 20px;
      }

      &:hover,
      &:active {
        color: var(--highlight-color); //
        text-decoration: none;
      }
    }
  }
}
