.about {
  @include relative-font-size(1.1);

  .intro {
    // border: 1px solid var(--main-text-color);
    // border-radius: 5px;
    transform: translate(0, 0);
    padding: 10vh 0;

    .intro-text {
      padding: 0 2rem;
    }
  }

  .about-section {
    transform: translate(0, 0);
    padding: 10vh 0;

    ul {
      list-style: none;
      padding-left: 0;

      li:before {
        @include dot;
        color: var(--main-text-color);
      }
    }
  }

  .avatar {
    margin: 2rem 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 100%;
  }

  .social-links {
    display: block;
    margin: 1rem 0;

    i {
      font-size: 20px;
      height: 20px;
      width: 0.8 * 20px;
    }

    a {
      padding: 0 1rem;
      color: var(--main-text-color);

      &:before {
        font-size: 20px;
      }

      &:hover,
      &:active {
        color: var(--highlight-color); //
        text-decoration: none;
      }
    }
  }
}
