#resume {
  @include relative-font-size(1);
  line-height: 26px;

  .title {
    @include relative-font-size(1.4);
    vertical-align: top;
    text-align: center;
    font-weight: 400;
    padding-bottom: 2rem;
  }

  .subtitle {
    @include relative-font-size(0.9);
    letter-spacing: 0.1em;
    line-height: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 2px;
    margin: 0;
  }

  .company-logo {
    display: inline-block;
    max-width: 200px;
    border-radius: 2px;
  }

  .job-header-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 1rem;

    .job-header-logo {
      align-self: flex-start;

      img {
        margin-right: 4px;
        align-self: center;
        background: var(--main-background-color);
        border: 1px solid var(--main-text-very-light-color);
        box-shadow: 0 1px 1px var(--box-shadow-color),
          0 2px 2px var(--box-shadow-color), 0 4px 4px var(--box-shadow-color),
          0 6px 8px var(--box-shadow-color), 0 8px 16px var(--box-shadow-color);
      }
    }

    .job-header-description {
      display: flex;
      flex-direction: column;
      line-height: 20px;

      .job-header-period {
        @include relative-font-size(0.88);
        color: var(--main-text-light-color);
      }
    }
  }

  .company {
    font-weight: 600;

    a {
      transition: color 0.3s ease;
      border-bottom: 1px dotted var(--highlight-hover-color); //
      color: var(--highlight-color); //
      font-weight: 500;
      &:hover,
      &:active {
        text-decoration: none;
        color: var(--highlight-hover-color); //
        border-bottom: 1px solid var(--highlight-hover-color); //
        cursor: pointer;
      }
    }
  }

  .description {
    text-align: justify;
  }
}
