.blog {
    margin-top: 2rem;

    ul {
        list-style-type: none;
        @extend %clearfix;
    }
    
    .toggle-grid-list {
        float: left;
        height: 50px;
        padding-left: 2rem;
    }

    .article {
        cursor: pointer;
        background-color: white;
        transition: all .2s ease;
    }
    
    .article-title {
        color: $text-color;
        font-weight: 500;
        @include relative-font-size(1.5);
        transition: color 0.2s ease;
        margin: 0;
        justify-self: start;
    }

    .article-date {
        font-size: $small-font-size;
        color: $grey-color;
        justify-self: start;
    }

    .article-image {
        max-width:100%;
        max-height:100%;
    }

    .article-tag {
        &.new {
            color: rgba(57, 98, 233, 0.993);
            background-color: rgba(164, 237, 250, 0.774);
            align-items: center;
            justify-content: center;
            display: flex;
            border-radius: 4px;
            font-weight: 500;
            font-size: 14px;
        }
    }
    /*
     * Grid View
     */
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 20px;
        max-width: 960px;
        padding: 0 2rem;
        margin: 0 auto 30px;

        .article {
            position: relative;
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: 60% 25% 15%;
            border-radius: 2px;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
            border: none;
            padding: 1rem;
            height: 150px;
            &:hover {
                transform: scale(1.05);
                
                .article-title {
                    color: $accent-color;
                }
            }
        }
        .article-title {
            grid-column: 1 / span 2;
            grid-row: 2 / 2;
            align-self: end;
        }
        .article-date {
            grid-column: 1 / 1;
            grid-row: 3 / 3;
            align-self: end;
        }
        .article-image-container {
            grid-column: 1 / span 2;
            grid-row: 1 / 1;
            text-align: center;
        }
        .article-tag {
            grid-column-start: 2;
            grid-row-start: 3;
            margin: 0 0.75rem;
        }
    }

     /*
     * List View
     */
     .list {
        max-width: 960px;
        padding: 0 2rem;
        margin: 0 auto 30px;

        .article {
            position: relative;
            display: grid;
            grid-template-columns: 80px auto 80px;
            grid-template-rows: 70% 30%;
            box-sizing: content-box;
            border-bottom: 1px solid $grey-color-light;
            padding: 0.75rem;
            background-color: transparent;

            &:hover{
                background-color: $grey-color-light;
            }
        }

        .article-title {
            grid-column-start: 2;
            grid-row-start: 1;
            @include relative-font-size(1.25);
        }

        .article-date {
            grid-column-start: 2;
            grid-row-start: 2;
        }

        .article-image-container {
            grid-column: 1 / 1;
            grid-row: 1 / span 2;
        }
        
        .article-tag {
            grid-column-start: 3;
            grid-row: 1 / span 2;
            margin: 0.5rem 0.75rem;
        }
    }
}
