#navbar {
  height: $navbar-expanded-height;
  background-color: transparent;
  color: var(--main-text-color);
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;

  &.shrink {
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.5);
    height: $navbar-shrunk-height;
    background-color: var(--navbar-background-color);

    #navbarNavAltMarkup {
      background-color: var(--navbar-background-color);
      border-radius: 5px;
    }
  }

  .nav-item.nav-link {
    @include relative-font-size(1.1);
    transition: none;
    margin: 0 5px;
    font-weight: 300;
    letter-spacing: 0.01em;
    &.active,
    &:hover,
    &:focus {
      color: var(--highlight-color);
      border-radius: 5px;
      background-color: var(--navbar-background-hover-color);
    }
  }

  a {
    transition: color 0.2s ease;
    color: var(--main-text-color);

    &.active,
    &:hover,
    &:focus {
      color: var(--highlight-color);
    }
  }

  &:hover,
  .navbar-brand:hover {
    color: var(--main-text-color);
  }
  .home-logo {
    vertical-align: text-bottom;
  }

  .home-title {
    @include relative-font-size(1.6);
    font-family: $base-font-family;
  }
}

#theme-icon {
  color: rgb(255, 208, 0);
}

#theme-icon-wrapper {
  transition: none;
  padding: 0.5rem;
  vertical-align: -webkit-baseline-middle;
  cursor: pointer;
  background-color: transparent;

  &:active {
    transform: scale(0.9);
    align-self: flex-end;
  }
}
