<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

<body>
    <div class="nav-wrapper">
        <nav class="nav-bar">
            {% include header.html %}

            <ul class="header">
                <li>
                    <a href="/" title="Blog">Blog</a>
                </li>
                <li>
                    <a href="/resume" title="Resume">Resume</a>
                </li>
                <li>
                    <a href="/about" title="About me">About</a>
                </li>
            </ul>
        </nav>
    </div>
    {% if page.name == 'resume.html' %}
    {% assign title = site.canvas.resume %}
    {% assign tag = 'resume' %}
    {% elsif page.name == 'about.html' %}
    {% assign title = site.canvas.about %}
    {% assign tag = 'about' %}
    {%- endif -%}
    {% if title %}
    {% include canvas.html %}
    {{ content }}
    {% else %}
    <div class="filler"></div>
    <div class="page-content" aria-label="Content" id="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>
    {%- endif -%}
    {%- include footer.html -%}
</body>

</html>