<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

<body>
    <div class="nav-wrapper">
        <nav class="nav-bar">
            {% include header.html %}

            <ul class="header">
                <li>
                    <a href="/" title="Blog">Blog</a>
                </li>
                <li>
                    <a href="/resume" title="Resume">Resume</a>
                </li>
                <li>
                    <a href="/about" title="About me">About</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="particles-js"></div>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="{{ base.url | prepend: site.url }}/assets/js/app.js"></script>
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    {%- include footer.html -%}
</body>

</html>