---
layout: default
---
<article class="container post-container">
    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <a href="/about#me">
                <img src="{{ "/assets/images/yueh.png" | relative_url }}" width="48" height="48"
                    class="icon-avatar img-fluid img-thumbnail" alt="Me">
            </a>
            <!-- {%- if page.author -%}<span class="post-author">{{ page.author | escape }}</span>{%- endif -%} -->
            <time class="post-datetime" datetime="{{ page.date | date_to_xmlschema }}">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </time>
            {% include reading_time.html text=content %}
        </p>
        <span class="post-tags">
            {% for tag in page.tags %}
            <!-- <a href="/tags/{{tag}}" class="tag"></a> -->
            <a href="/tags/{{ tag }}" class="tag" data-proofer-ignore>
                <span>{{ tag }}</span>
            </a>
            {% endfor %}
        </span>
    </header>

    <div class="post-body">
        {{ content }}
    </div>

    <h2>You May Also Like</h2>
    <div class="rect">
        {% assign maxRelated = 4 %}
        {% assign minCommonTags =  1 %}
        {% assign maxRelatedCounter = 0 %}

        {% for post in site.posts %}

        {% assign sameTagCount = 0 %}
        {% assign commonTags = '' %}

        {% for tag in post.tags %}
        {% if post.url != page.url %}
        {% if page.tags contains tag %}
        {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
        {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
        {% endif %}
        {% endfor %}

        {% if sameTagCount >= minCommonTags %}

        <a href="{{ site.baseurl }}{{ post.url }}">
            <div class="rel">
                <h5>{{ post.title }}</h5>
                <img width="100%" src="{{post.image}}">
            </div>
        </a>

        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
        {% break %}
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    <!-- <a class="u-url" href="{{ page.url | relative_url }}" hidden></a> -->
</article>